/*
    The main stylesheet for styling the campaigns output
 */

// Variables declaration
@backgroundColor: #000;

body {
    margin  : 0;
    padding : 0;
    background-color: #fff;

    #alerts {
        position: fixed;

        width:  50%;
        height: auto;
        left:   25%;
        top:    41px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .alert { margin: 10px; }
    }

	// Styles for the map itsself
	#map_canvas {
        width     : 100%;
        height    : 110%;
        margin    : 0;
        padding   : 0;
        background-color: @backgroundColor !important;
        border: 5px solid #D4D4D4;
    }

    #sidebar {
        //background-color: #fff;
    }

    // Styles for the content container as well as basic forms
    #content, .edit_form {
        display  : none;
    }
}